@model FYPSystem.Models.Ideas

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-top:30px; margin-left:40px;">
    <div class="card">
        <div class="card-body">
            <h1 class="display-3" style="color:#858796"><b>Ideas Detail</b></h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Approved)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Approved)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupervisorShift)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupervisorShift)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.supervisor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.supervisor.Id)
        </dd>*@
    </dl>
</div>
<div>
                <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to List</a>
</div>
